.about {
    position: relative;
    height: 97%;
    &-h3 {
        padding: 5vh 0 0 5vh;
    }
    h3 {
        font-size: 2.8rem;
        padding-left: 4vh;
        border-left: 5px solid $primaryColor;
    }
    &-flex {
        display: flex;
        max-width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
        .about-item {
            transition: .5s ease;
            text-align: center;
            height: auto;
            margin: -10px 5vh 0 5vh;
            padding: 70px;
            width: 38vh;
            border-radius: 50%;
            transition: .5s ease;
            cursor: pointer;
            img {
                width: 70%;
            }
            &:hover {
                transition: .5s ease;
                background-color: rgba(168, 168, 168, 0.473);
            }
            h4 {
                padding-top: 10px;
                font-size: 1.8rem;
                color: #595959;
            }
        }
        p {
            display: none;
        }
    }
    &-text {
        position: absolute;
        width: 100%;
        height: 25%;
        text-align: center;
        padding: 20px 0;
        background: $primaryColor;
        bottom: 120px;
        p {
            width: 70%;
            font-size: 1.1rem;
            color: white;
            font-family: $poppins;
            margin: 0 auto; 
        }
        h4 {
            font-size: 1.9rem;
            padding-bottom: 3vh;
            color: white;
        }
        .mySlides {
            display: none;
        }
        .animate-left{
            position: relative;
            animation: animateleft 0.4s
        }
        @keyframes animateleft{
            from{
              left:-300px;opacity:0
            } to{
              left:0;opacity:1
            }
          }
    }
}