.containter {
    width: 100%;
    height: 100%;
    h2 {
        text-align: center;
        font-size: 2rem;
        padding-top: 20px;
        font-family: $raleway;
        text-transform: uppercase;
    }
    .content {
        border: 1px solid rgba(151, 151, 151, 0.219);
        display: flex;
        height: 85%;
        width: 50%;
        margin: auto;
        margin-top: 1%;
        background-color: rgba(192, 192, 192, 0.219);
        aside {
            flex: 1;
            display: flex;
            flex-direction: column;
            .price {
                flex: 2;
                font-family: $quicksand;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                background-image: linear-gradient(to bottom, #1DBCA5, #1AA5BC);
                h4 {
                    font-size: 1.7rem;
                    font-weight: 200;
                }
                h3 {
                    font-size: 1.9rem;
                    padding: 15px 0 30px 0;
                }
                h5 {
                    font-weight: 200;
                    margin-top: 10px;
                    font-size: 1.1rem;
                }
                #send {
                    text-decoration: none;
                    text-align: center;
                    color: black;
                    margin-top: 50px;
                    width: 60%;
                    padding: 10px 0;
                    font-size: 1.2em;
                    background-color: rgba(255, 255, 255, 0.9);
                    font-family: $quicksand;
                    border-radius: 4px;
                    border: none;
                    &:hover {
                        transition: .5s ease;
                        background-color: rgba(255, 255, 255, 1);
                    }
                }
                a.back {
                    margin-top: 30px;
                    color: #333333;
                    &:hover {
                        color: #575757;
                    }
                }
            }
            .description {
                flex: 1;
                padding: 20px;
                text-align: center;
                font-size: .9rem;
                p {
                    opacity: .7;
                }
            }
        }
        .main-section {
            border-right: 1px solid rgba(151, 151, 151, 0.219);
            flex: 2;
            .section {
                padding: 20px;
                h3 {
                    font-weight: bold;
                    font-size: 1.8rem;
                }
                .input {
                    padding-top: 20px;
                    width: 100%;
                    margin: auto;
                    position: relative;
                    input {
                        width: 80%;
                        height: 40px;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        background-color: transparent;
                        border: none;
                        border-bottom: 1px solid #33333381;
                        outline: none;
                        padding: 10px;
                        font-family: $poppins;
                        font-size: .9rem;
                        &:focus {
                            border-color: #3599DC;
                        }
                    }
                }
                .choices {
                    display: flex;
                    width: 80%;
                    margin: auto;
                    label {
                        text-align: center;
                        padding: 35px 0;
                        user-select: none;
                    }
                    .radio {
                        margin-top: 40px;
                        flex: 1;
                        height: 100px;
                    }
                }
                .slidecontainer {
                    width: 90%;
                    margin: auto;
                    margin-top: 40px;
                    p {
                        padding-top: 20px;
                    }
                    .slider {
                        -webkit-appearance: none;
                        width: 100%;
                        height: 15px;
                        border-radius: 5px;
                        background: #d3d3d3;
                        outline: none;
                        opacity: 0.7;
                        -webkit-transition: .2s;
                        transition: opacity .2s;
                        &:hover {
                            opacity: 1;
                        }
                        &::-webkit-slider-thumb {
                            -webkit-appearance: none;
                            appearance: none;
                            width: 25px;
                            height: 25px;
                            border-radius: 50%;
                            background: #3599DC;
                            cursor: pointer;
                        }
                    }    
                }
                .radios {
                    input[type=radio] {
                        display: none;
                    }
                    input[type=radio]:checked + .radio {
                        background-color: #E6F5F8;
                        border: 3px solid #3599DC;
                    }
                    .radio {
                        border: 1px solid #33333341;
                        box-sizing: border-box;
                        display: inline-block;
                        width: 10px;
                        height: 100px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}