.contact {
    display: flex;
    padding: 200px 250px;
    border-top: 1px solid rgba(61, 66, 69, .3);
    font-family: $quicksand;
    &-flex-item {
        flex: 3;
        &:first-child {
            flex: 2;
        }
        img {
            width: 100%;
        }
        form {
            padding: 50px 0;
            input {
                display: block;
                margin: 15px 0;
                height: 40px;
                width: 80%;
                border: none;
                border-bottom: 1px solid rgba(61, 66, 69, .5);
                outline: none;
                font-family: $quicksand;
                font-weight: bold;
                font-size: .9rem;
            }
            select {
                height: 40px;
                width: 80%;
                border: none;
                border-bottom: 1px solid rgba(61, 66, 69, .5);
                outline: none;
                font-family: $quicksand;
                font-weight: bold;
                font-size: .9rem;
                option {
                    &:hover {
                        box-shadow: 0 0 10px 100px #18a837 inset;
                    }
                    p {
                        opacity: .2;
                    }
                }
            }
            .button {
                padding: 6px 25px;
                border: none;
                background-color: #333; 
                color: white;
                border-radius: 3px;
                transition: .3s;
                text-decoration: none;
                cursor: pointer;
                &:hover {
                    transition: .3s ease;
                    background-color: rgb(104, 104, 104);
                }
            }
        }
        h2 {
            font-size: 2.5rem;
            font-weight: bold;
        }
        h4 {
            opacity: .5;
        }
    }
}