footer {
    background: rgba(50, 50, 50, .9);
    padding: 50px 0 0 0;
    color: white;
    font-family: $poppins;
    .flex-footer {
        display: flex;
        width: 90%;
        margin: 0 auto;
        h2, h3 {
            color: $linkColor;
            font-size: 1.3rem;
            padding-bottom: 10px;
        }
        p {
            font-size: .8rem;
        }
        &-item {
            flex: 1;
        }
        a {
            display: block;
            text-decoration: none;
            color: white;
            padding: 6px 0;
            transition: 0;
            transition: .2s;
            &:hover {
                color: #69849140;
            }
        }
        .first-flex {
            display: flex;
            flex-direction: column;
            .first-in-flex {
                padding: 20px 0;
                ul {
                    padding: 0;
                    li {
                        list-style-type: none;
                        display: flex;
                        align-items: center;
                        padding: 3px 0;
                        a {
                            display: inline;
                            font-size: .9rem;
                            padding-left: 20px;
                            cursor: pointer;
                        }
                        img {
                            height: 20px;
                        }
                    }
                }
            }
        }
        .fourth-flex {
            #subscribe:focus {
                outline: none;
            }
            .input {
                height: 40px;
                background-color: white;
                border-radius: 7px;
                padding: 0 10px;
                width: 70%;
                display: flex;
                align-items: center;
                &:focus {
                    outline: none;
                }
            }
            img {
                height: 20px;
            }
            input {
                outline: none;
                border: none;
                height: 40px;
                padding-left: 10px;
                font-family: $poppins;
            }
            .button {
                border: none;
                border-radius: 7px;
                padding: 7px 20px;
                color: white;
                background: $linkColor;
                display: flex;
                justify-content: center;
                margin-top: 15px;
                font-family: $poppins;
                transition: .3s;
                width: 70%;
                cursor: pointer;
                &:hover {
                    background-color: #8db2c4;
                }
            }
        }
    }
    .footer-bottom {
        width: 100%;
        text-align: center;
        border-top: 1px solid #69849140;
        margin: auto 0;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        padding: 10px 0;
        position: relative;
        img {
            height: 30px;
            margin: 0 8px;
            transition: .3s;
            cursor: pointer;
            &:hover {
                opacity: .3;
                transition: .3s ease;
            }
        }
        span {
            position: absolute;
            right: 1%;
            bottom: 50%;
            transform: translateY(50%);
            font-size: .8em;
        }
    }
}