header{
    position: fixed;
    left:0px;
    right:0px;
    border-bottom: 1px solid rgba(66,57,64, .5);
    padding: 0px 15px;
    z-index: 2;
    background: rgba(50, 50, 50, .25);
    .row {
        justify-content:space-between;
        align-items: center;
    }
    .brand-name {
        a {
            text-decoration: none;
            font-size: 1.3rem;
            font-weight: 600;
            color:#FFFFFF;
            text-transform: uppercase;
            position: relative;
            &::before {
                position: absolute;
                height: 3px;
                background-color: #ffffff;
                width: 100%;
                left: 0px;
                bottom:0px;
            }
        }
        img {
            display: none;
        }
    }
    .navbar {
        ul {
            list-style: none;
            padding: 0;
            margin:0;
            li {
                display: inline-block;
                margin-left: 35px;
                a {
                    position: relative;
                    font-size: 1rem;
                    text-decoration: none;
                    line-height: 72px;
                    color: #ffffff;
                    display: block;
                    font-weight: 600;
                }
            }
        }
    }
}

.home {
    min-height: 97vh;
    background-image:  url("../images/1.jpg");
    @extend %backgroundProperties;
    padding: 15px;
    .full-screen {
        min-height: 97vh;
    }
    .home-content {
        display: flex;
        flex:0 0 100%;
        max-width: 100%;
        flex-wrap: wrap;
        align-items: center;
        .block {
            position: relative;
            flex:0 0 75%;
            max-width: 75%;
            padding-left: 35px;
            border-left: 5px solid #FFFFFF;
            height: 20vh;
            h6 {
                color: #ffffff;
                font-size: 1.1rem;
                font-weight: 500;
                margin: 0;
                padding: 0;
            }
            h1 {
                color: #ffffff;
                font-size: 4.4rem;
                font-weight: 600;
                margin:0;
                padding:0;
            }
            h3 {
                color: #ffffff;
                font-size: 1.6rem;
                font-weight: 500;
                margin: 0;
                padding: 0;
                &.contain1, &.contain2, &.contain3 {
                    position: absolute;
                    display: block;
                    animation-duration: 20s;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: infinite;
                }
                &.contain1{
                    animation-name: anim-1;
                    animation-duration: 10s; /* 20 default */
                }
                &.contain2{
                    animation-name: anim-2;
                    animation-duration: 10s;
                }
                &.contain3{
                    animation-name: anim-3;
                    animation-duration: 10s;
                }
                @keyframes anim-1 {
                    0%, 8.3% { left: -100%; opacity: 0; }
                  8.3%,25% { left: 5%; opacity: 1; }
                  33.33%, 100% { left: 70%; opacity: 0; }
                }

                @keyframes anim-2 {
                    0%, 27% { left: -100%; opacity: 0; }
                  39.63%, 58.29% { left: 5%; opacity: 1; }
                  66.66%, 100% { left: 70%; opacity: 0; }
                }

                @keyframes anim-3 {
                    0%, 60% { left: -100%; opacity: 0; }
                  70.96%, 91.62% { left: 5%; opacity: 1; }
                  100% { left: 70%; opacity: 0; }
                }
            }
        }
    }
}
