%backgroundProperties {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

%buttonsActiveProperties {
    content: '';
    height: 3px;
    border-bottom: 3px solid rgba(66,57,64, 1);
    position: absolute;
    bottom: -1px;
}

%colorBorders {
    content: '';
    padding: 0 20px;
    width: 30px;
    margin-left: 4px;
    border: 1px solid #33333330
}