.projects {
    &-h3 {
        position: relative;
        height: 18vh;
        padding: 5vh 0 0 5vh;
        h3 {
            font-size: 2.8rem;
            padding-left: 4vh;
            border-left: 5px solid $primaryColor;
        }
        .btns-services {
            position: absolute;
            bottom: 0;
            left: 5%;
            padding-bottom: 1vh;
            border-bottom: 1px solid rgba(66,57,64, .5);
            element {
                border: none;
                background-color: white;
                font-family: $poppins;
                font-size: 1.2rem;
                line-height: 100%;
                cursor: pointer;
                padding: 0 1vh;
                &.active1::before {
                    @extend %buttonsActiveProperties;
                    width: 63%;
                    left: 0;
                }
                &.active2::before {
                    @extend %buttonsActiveProperties;
                    width: 40%;
                    left: 63%;
                }
            }
        }
    }
    .projects-flex {
        margin-top: 2vh;
        display: flex;
        flex-direction: column;
        .flex-item {
            flex: 1;
            display: flex;
            width: 80%;
            margin: 0 auto;
            margin-bottom: 10vh;
            box-shadow: 5px 5px 10px rgba(85, 85, 85, 0.13);
            border: 1px solid rgba(128, 128, 128, 0.089);
            img {
                flex: 2;
                width: 20vh;
            }
            &-content {
                flex: 3;
                padding: 3vh 5vh;
                position: relative;
                a {
                    position: absolute;
                    bottom: 13%;
                    left: 5vh;
                    text-decoration: none;
                    color: $linkColor;
                    font-weight: bold;
                    &:hover {
                        color: #8a8a8a;
                    }
                }
                .languages {
                    border-top: 1px solid  rgba(61, 66, 69, .5);
                    position: absolute;
                    bottom: 1vh;
                    text-align: right;
                    width: 90%;
                    p {
                        display: inline;
                        color: rgba(61, 66, 69, .5);
                        font-size: 1.1rem;
                    }
                }
            }
            p {
                font-size: 1.2rem;
                color: $primaryColor;
            }
            h2 {
                margin-bottom: 1vh;
                font-size: 2rem; 
                font-family: $raleway;
            }
            h5 {
                font-size: .9rem; 
                color:  rgba(61, 66, 69, .5);
                text-transform: uppercase;
            }
        }
        #more-btn {
            cursor: pointer;
            width:7%;
            height: 4%;
            padding: 8px 0;
            color: white;
            background-color: $primaryColor;
            margin: 0 auto;
            border: none;
            border-radius: 3px;
            font-family: $quicksand;
            font-size: 1.1rem;
            margin-bottom: 100px;
        }
    }
    #vizitka, #logo {
        display: none;
    }
    .grid-container {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-gap: 100px;
        grid-template-columns: auto auto auto auto;
        padding: 10px;
        .grid-item {
            background-color: rgba(255, 255, 255, 0.8);
            font-size: 2rem;
            font-family: $quicksand;
            border: 1px solid  rgba(61, 66, 69, .2);
            box-shadow: 5px 5px 10px rgba(85, 85, 85, 0.13);
            transition: .5s ease;
            border-radius: 3px;
            &:hover {
                transition: .5s ease;
                box-shadow: 7px 7px 7px rgb(156, 156, 156);
                cursor: pointer;
            }
            img {
                width: 100%;
            }
            .fig {
                width: 100%;
                position: relative;
                line-height: 100%;
                text-align: center;
                background: rgba(228, 228, 228, 0.116);
            }
            h3 {
                font-size: 1.2rem;
            }
            span {
                font-size: .8rem;
                color: $linkColor;
                font-weight: bold;
            }
        }
    }
    .service-overlay {
        display: none;
        position: fixed;
        padding:0;
        margin:0;
        z-index: 5;
      
        top:0;
        left:0;
      
        width: 100%;
        height: 100%;
        background: #ffffffb6;
        &-text {
            position: absolute;
            display: flex;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 70%;
            height: 70%;
            background-color: rgba(255, 255, 255, 0.95);
            border: 1px solid  rgba(61, 66, 69, .08);
            box-shadow: 5px 5px 10px rgba(85, 85, 85, 0.13);
            img {
                flex: 1;
                width: 50%;
            }
            .overlay-inside-text {
                flex: 1;
                padding: 30px;
                h3 {
                    font-size: 2.4rem;
                }
                h4 {
                    padding: 2px;
                    font-size: 1.2rem;
                    color: rgba(61, 66, 69, .5);
                }
                p {
                    &.text {
                        margin-top: 15%;
                        width: 80%;
                    }
                    
                }
                .colors {
                    margin-top: 10%;
                    h5 {
                        font-size: 1rem;
                        float: left;
                        padding-right: 10px;
                        display: flex;
                        flex-direction: row;
                    } 
                    p { 
                        display: inline;
                        &.dblue {
                            &::after {
                                @extend %colorBorders;
                                background-color: #253340;
                            }
                        }
                        &.blue {
                            &::after {
                                @extend %colorBorders;
                                background-color:#00A6E4;
                            }
                        }
                        &.gray {
                            &::after {
                                @extend %colorBorders;
                                background-color: #E1E1E1;
                            }
                        }
                        &.white {
                            &::after {
                                @extend %colorBorders;
                                background-color: #ffffff;
                            }
                        }
                        &.ddblue {
                            &::after {
                                @extend %colorBorders;
                                background-color: #1F232C;
                            }
                        }
                        &.nblue {
                            &::after {
                                @extend %colorBorders;
                                background-color: #34B5C8;
                            }
                        }
                        &.pink {
                            &::after {
                                @extend %colorBorders;
                                background-color: #DCBFFB;
                            }
                        }
                        &.brown {
                            &::after {
                                @extend %colorBorders;
                                background-color:#414143;
                            }
                        }
                    }
                    img {

                        padding: 0 100px 0 10px;
                        height: 20px;
                    }
                }
                a {
                    position: absolute;
                    text-decoration: none;
                    color: white;
                    left: 75%;
                    transform: translateX(-50%);
                    padding: 10px 20px;
                    border-radius: 5px;
                    background-color: $primaryColor;
                    bottom: 20%;
                    transition: .3s ease;
                    &:hover {
                        transition: .3s ease;
                        background-color: rgb(117, 117, 117);
                    }
                }
            }
        }
        .back {
            position: absolute;
            right: 2%;
            top: 2%;
            cursor: pointer;
        }
    }
}