.services {
    height: 100vh;
    display: flex;
    padding: 5vh 0 0 5vh;
    background-image: linear-gradient(320deg, rgba(180,180,180,0.8) 25%,white 70%),url("../images/services.jpg");
    @extend %backgroundProperties;
    h3 {
        font-size: 2.8rem; /* FONT */
        padding-left: 4vh;
        border-left: 5px solid $primaryColor;
    }
    #row1 { grid-area: web; }
    #row2 { grid-area: hosting; }
    #row3 { grid-area: dizajn; }
    #row4 { grid-area: logo; }
    .container2{
        margin-top: 5vh;
        display: grid;
        grid-template-areas:
        'web hosting'
        'dizajn logo';
        #sidebar {
            position: relative; 
            margin-top: 100px;
            padding: 20px 15px;
            width: 90%;
            height: 25vh;
            background-color: white;
            border-top: 20px solid rgba(61, 66, 69, 0.8);
          
            transition: .5s;
            border-radius: 2px;
            box-shadow:
               10px 0px 15px -5px rgba(0, 0, 0, 0.15),
              -10px 0px 15px -5px rgba(0, 0, 0, 0.15);
            &:hover {
                box-shadow: 10px 10px 10px rgb(156, 156, 156);
                border-color: $linkColor;
                transition: 0.3s ease;
            }
            h2 {
                font-family: $raleway;
                text-transform: uppercase;
                color: #3D3D3D;
                margin: 0 0 12px;
                padding: 0 0 10px;
                border-bottom: 1px solid #455A64;
            }
            p {
                font: .9rem $poppins;
                color: #3D3D3D;
                padding: 0;
            }
        }
        .sidebar:first-child {
            border-color: #698491; /* TODO - NOT WORKING - CHECK #SIDEBAR */
        }
    }
    #canvas {
        width: 90%; /* TODO */
        display: flex;
        justify-content: center;
        margin-left: auto;
        .canvas-area{
            background-color: rgba(240,240,240,0.6);
            width: 40vw; /* TODO */
            padding-bottom: 5vh; 
            margin: auto;
            color: rgba(61, 66, 69, 1);
            padding-left: 3vw; /* TODO */
            padding-right: 3vw; /* TODO */
            font-size: 1.2rem; /* FONT */
            font-weight: 100;
            box-shadow: 5px 5px 10px rgb(85, 85, 85);
            .service-text {
                display: none;
                position: relative;
                padding-bottom: 5vh;
                h4 {
                    font-size: 1.5rem; /* FONT */
                    margin: 2vh 0;
                    padding: 2vh 0;
                    border-bottom: 1px solid  rgba(61, 66, 69, 1);
                    text-transform: uppercase;
                    display: relative;
                    img {
                        display: absolute;
                        transform: translateY(15%);
                        width: 3vh;
                    }
                }
                p {
                    font-size: 1.1rem;
                    margin-bottom: 1vh;
                }
                .first {
                    font-weight: bold;
                }
                &:first-child {
                    display: block;
                }
                a {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    color: $linkColor;
                    text-decoration: none;
                    transition: .5s;
                    &:hover {
                        color: rgba(61, 66, 69, 1);
                    }
                }
            }
        }
    }
}