@media only screen and (max-width: 1350px) {
    html {
        font-size: 15px;
    }
    .about {
        &-flex {
            .about-item {
                margin: 0;
                width: 35vh;
            }
        }
        &-text {
            position:absolute;
            bottom: 230px;
            height: 21%;
            p {
                font-size: .9rem;
                width: 90%;
            }
            h4 {
                font-size: 1.6rem;
                padding-bottom: 1vh;
            }
        }
    }
    .services {
        .container2 {
            #sidebar {
                width: 90%;
            }
        }
    }
    .projects {
        .projects-flex {
            .flex-item {
                &-content {
                    padding: 1vh 3vh;
                    a {
                        left: 3vh;
                        font-size: .8rem;
                        bottom: 18%;
                    }
                }
                img {
                    width: 18vh;
                }
                p {
                    font-size: .8rem;
                }
                h2 {
                    font-size: 1.3em;
                    margin-bottom: .5vh;
                }
                h5 {
                    font-size: .7rem;
                }
                .languages {
                    p {
                        font-size: .9rem;
                    }
                }
            }
            #more-btn { 
                font-size: .8rem;
                width:9%
            }
        }
        .grid-container {
            width: 90%;
            margin: 0 auto;
            display: grid;
            grid-gap: 60px;
            grid-template-columns: auto auto auto;
            padding: 10px;
        }
    }
    .contact {
        display: block;
        width: 100%;
        padding: 0;
        border-top: 1px solid rgba(61, 66, 69, .3);
        &-flex-item {
            width: 50%;
            margin: 10vh auto;
            img {
                display: none;
            }
            form {
                padding: 50px 0;
                width: 100%;

                input {
                    display: block;
                    margin: 15px 0;
                    height: 40px;
                    width: 100%;
                }
                select {
                    height: 40px;
                    width: 100%;
                }
                .button {
                    width: 100%;
                    height: 5%;
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .about {
        &-flex {
            .about-item {
                margin: 0;
                width: 29vh;
            }
        }
        &-text {
            bottom: 300px;
            height: 18%;
        }
    }
    .services {
        #canvas {
            display: none;
        }
    }
    .projects {
        .projects-flex {
            display: relative;
            .flex-item {
                position: relative;
                height: 100%;
                img {
                   width: 100%;
                }
                &:hover{
                    .flex-item-content {
                        height: 100%;
                        opacity: 1;
                    }
                }
                &-content {
                    transition: .5s ease;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    height: 0;
                    opacity: 0;
                    overflow: hidden;
                    background-color: #333333EF;
                    width: 100%;
                    a {
                        bottom: 10%;
                        font-size: 1rem;
                    }
                    .languages {
                        bottom: 0;
                        border-color: rgb(151, 151, 151);
                        p {
                            color: rgb(151, 151, 151);
                        }
                    }
                }
                p {
                 font-size: 1.1rem;
                 color: rgb(221, 221, 221);
                }
                h2 {
                   font-size: 1.7rem;
                   margin-bottom: 3vh;
                   color: rgb(221, 221, 221);
                }
                h5 {
                  font-size: .9rem;
                  color: rgb(151, 151, 151);
                }
            }
            #more-btn { 
                font-size: .8rem;
                width:15%
            }
        }
        .grid-container {
            width: 90%;
            margin: 0 auto;
            display: grid;
            grid-gap: 60px;
            grid-template-columns: auto auto;
            padding: 10px;
        }
    }
    .contact {
        &-flex-item {
            h2 {
                font-size: 1.9rem;
            }
            h5 {
                font-size: 1.5rem;
            }
        }
    }
    .services {
        h3 {
            font-size: 3.5rem;
            padding-left: 1vh;
        }
        .container2 {
            width: 75%;
            margin: 0 auto;
            grid-template-areas:  'web' 'hosting'
            'dizajn' 'logo';
            #sidebar {
                height: 20vh;
                margin-top: 30px;
                h2 {
                    font-size: 2.3rem;
                }
                p {
                    font-size: 1.7rem;
                }
            }
        }
    }
    .about {
        h3 {
            font-size: 3.5rem;
            padding-left: 1vh;
        }
        .about-text {
            display: none;
        }
        .about-flex {
            .about-item:hover {
                background-color: transparent;
            }
            img {
                width: 40%;
            }
            p {
                text-align: center;
                width: 90%;
                font-size: 2rem;
                display: block;
            }
        }
    }
}

@media only screen and (min-width: 200px) and (max-width: 1000px) {
    .contact {
        .contact-flex-item {
            width: 70%;
            form {
                input {
                    font-size: 1.3rem;
                    height: 60px;
                }
                select {
                    font-size: 1.3rem;
                }
            }
            h2 {
                font-size: 3.3rem;
            }
            h4 {
                font-size: 1.4rem;
            }
        }
    }
    .projects {
        .projects-flex {
            #more-btn {
                font-size: 1.5rem;
                width: 20%;
            }
        }
        .grid-container {
            .grid-item {
                h3 {
                    font-size: 1.5rem;
                }
                span {
                    font-size: 1.1rem;
                }
            }
        }
    }
    .projects-h3 {
        padding: 5vh 0 0 2.5vh;
        .btns-services {
            element {
                font-size: 1.6rem;
            }
        }
        h3 {
            font-size: 3.5rem;
            padding-left: 1vh;
        }
    }
    .home {
        .home-content {
            .block {
                height: 15vh;
                h1 {
                    font-size: 6rem;
                }
                h6 {
                    font-size: 2.5rem;
                }
                h3 {
                    font-size: 2.5rem;
                }
            }
        }
    }
    header {
        position: static;
        background-color: #333333 !important; 
        .row {
            height: 8vh;
            width: 100%;      
        }
        #myDIV {
            display: none;
        }
        .brand-name {
            width: 100%;
            position: relative;
            a.logo {
                font-size: 2.5rem;
            }
            .ikona {
                position: absolute;
                right: 1vh;
                img {
                    position: absolute;
                    right: 0;
                    display: block;
                    height: 3.5vh;
                }
            }
        }
        .navbar {            
            ul {
                background-color: #333333b7;
                width: 100%;
                text-align: center;
                margin-top: 4vh;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                li {
                    .active::before {
                        height: 0 !important;
                    }
                    a {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
    .projects .service-overlay-text {
        flex-direction: column;
        height: auto;
        width: 90vw;
        img {
            display: none;
        }
        .back {
            top: 10%;
            right: 10%;
        }
        .overlay-inside-text {
            padding: 100px;
            p.text {
                font-size: 1.5em;
                margin-top: 5vh;
            }
            h3 {
                font-size: 3em;
            }
            h4 {
                font-size: 1.7em;
            }
            h5 {
                font-size: 2em;
            }
        }
    }
    .containter {
        position: relative;
        h2 {
            margin-top: 5%;
            font-size: 3em;
        }
        .content {
            position: absolute;
            width: 100%;
            height: auto;
            top: 40%;
            transform: translateY(-40%);
        }
        .cf {
            height: 60px; 
        }
    }
}

@media only screen and (orientation:landscape) and (max-width: 1000px) {
    .body-content {
        display: none;
    }
    header {
        height: 50px;
        margin: 0;
        padding: 0;
        position: relative;
        .brand-name {
            display: flex;
            height: 50px;
            padding: 0 15px;
            align-items: center;
            a.logo {
                font-size: 1.5em;
            }
            .ikona {
                display: none;
            }
        }
    }
    body {
        .landscape {
            display: initial;
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 1.5em;
            transform: translate(-50%,-50%);
            p {
                margin: 5px 0 5px 20px;
            }
            border-left: 3px solid #333333;
          }
    }
}