@import './_variables';
@import './_mixins';
@import './_header';
@import './about';
@import './services';
@import './projects';
@import './footer';
@import './contact';
@import './calculator';

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body{
    margin: 0;
    font-family: $poppins;
    .landscape {
      display: none;
    }
}

*{
    box-sizing: border-box;
    margin:0;
  }
  
  .container{
    max-width:1140px;
    margin:auto;
  }
  
  .row{
    display:flex;
    flex-wrap:wrap;
  }
  
  .id-links {
    height: 5vh;
  }
  
  ::selection {
    background: $primaryColor;
    color: white;
  }

  h3 {
    font-family: $quicksand;
  }

  .button {
    cursor: pointer;
  }