.services, .home {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.projects-h3 .btns-services element.active2::before, .projects-h3 .btns-services element.active1::before {
  content: "";
  height: 3px;
  border-bottom: 3px solid rgb(66, 57, 64);
  position: absolute;
  bottom: -1px;
}

.projects .service-overlay-text .overlay-inside-text .colors p.brown::after, .projects .service-overlay-text .overlay-inside-text .colors p.pink::after, .projects .service-overlay-text .overlay-inside-text .colors p.nblue::after, .projects .service-overlay-text .overlay-inside-text .colors p.ddblue::after, .projects .service-overlay-text .overlay-inside-text .colors p.white::after, .projects .service-overlay-text .overlay-inside-text .colors p.gray::after, .projects .service-overlay-text .overlay-inside-text .colors p.blue::after, .projects .service-overlay-text .overlay-inside-text .colors p.dblue::after {
  content: "";
  padding: 0 20px;
  width: 30px;
  margin-left: 4px;
  border: 1px solid rgba(51, 51, 51, 0.1882352941);
}

header {
  position: fixed;
  left: 0px;
  right: 0px;
  border-bottom: 1px solid rgba(66, 57, 64, 0.5);
  padding: 0px 15px;
  z-index: 2;
  background: rgba(50, 50, 50, 0.25);
}
header .row {
  justify-content: space-between;
  align-items: center;
}
header .brand-name a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #FFFFFF;
  text-transform: uppercase;
  position: relative;
}
header .brand-name a::before {
  position: absolute;
  height: 3px;
  background-color: #ffffff;
  width: 100%;
  left: 0px;
  bottom: 0px;
}
header .brand-name img {
  display: none;
}
header .navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
header .navbar ul li {
  display: inline-block;
  margin-left: 35px;
}
header .navbar ul li a {
  position: relative;
  font-size: 1rem;
  text-decoration: none;
  line-height: 72px;
  color: #ffffff;
  display: block;
  font-weight: 600;
}

.home {
  min-height: 97vh;
  background-image: url("../images/1.jpg");
  padding: 15px;
}
.home .full-screen {
  min-height: 97vh;
}
.home .home-content {
  display: flex;
  flex: 0 0 100%;
  max-width: 100%;
  flex-wrap: wrap;
  align-items: center;
}
.home .home-content .block {
  position: relative;
  flex: 0 0 75%;
  max-width: 75%;
  padding-left: 35px;
  border-left: 5px solid #FFFFFF;
  height: 20vh;
}
.home .home-content .block h6 {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.home .home-content .block h1 {
  color: #ffffff;
  font-size: 4.4rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.home .home-content .block h3 {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.home .home-content .block h3.contain1, .home .home-content .block h3.contain2, .home .home-content .block h3.contain3 {
  position: absolute;
  display: block;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.home .home-content .block h3.contain1 {
  animation-name: anim-1;
  animation-duration: 10s; /* 20 default */
}
.home .home-content .block h3.contain2 {
  animation-name: anim-2;
  animation-duration: 10s;
}
.home .home-content .block h3.contain3 {
  animation-name: anim-3;
  animation-duration: 10s;
}
@keyframes anim-1 {
  0%, 8.3% {
    left: -100%;
    opacity: 0;
  }
  8.3%, 25% {
    left: 5%;
    opacity: 1;
  }
  33.33%, 100% {
    left: 70%;
    opacity: 0;
  }
}
@keyframes anim-2 {
  0%, 27% {
    left: -100%;
    opacity: 0;
  }
  39.63%, 58.29% {
    left: 5%;
    opacity: 1;
  }
  66.66%, 100% {
    left: 70%;
    opacity: 0;
  }
}
@keyframes anim-3 {
  0%, 60% {
    left: -100%;
    opacity: 0;
  }
  70.96%, 91.62% {
    left: 5%;
    opacity: 1;
  }
  100% {
    left: 70%;
    opacity: 0;
  }
}

.about {
  position: relative;
  height: 97%;
}
.about-h3 {
  padding: 5vh 0 0 5vh;
}
.about h3 {
  font-size: 2.8rem;
  padding-left: 4vh;
  border-left: 5px solid #333333;
}
.about-flex {
  display: flex;
  max-width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
.about-flex .about-item {
  transition: 0.5s ease;
  text-align: center;
  height: auto;
  margin: -10px 5vh 0 5vh;
  padding: 70px;
  width: 38vh;
  border-radius: 50%;
  transition: 0.5s ease;
  cursor: pointer;
}
.about-flex .about-item img {
  width: 70%;
}
.about-flex .about-item:hover {
  transition: 0.5s ease;
  background-color: rgba(168, 168, 168, 0.473);
}
.about-flex .about-item h4 {
  padding-top: 10px;
  font-size: 1.8rem;
  color: #595959;
}
.about-flex p {
  display: none;
}
.about-text {
  position: absolute;
  width: 100%;
  height: 25%;
  text-align: center;
  padding: 20px 0;
  background: #333333;
  bottom: 120px;
}
.about-text p {
  width: 70%;
  font-size: 1.1rem;
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
}
.about-text h4 {
  font-size: 1.9rem;
  padding-bottom: 3vh;
  color: white;
}
.about-text .mySlides {
  display: none;
}
.about-text .animate-left {
  position: relative;
  animation: animateleft 0.4s;
}
@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

.services {
  height: 100vh;
  display: flex;
  padding: 5vh 0 0 5vh;
  background-image: linear-gradient(320deg, rgba(180, 180, 180, 0.8) 25%, white 70%), url("../images/services.jpg");
}
.services h3 {
  font-size: 2.8rem; /* FONT */
  padding-left: 4vh;
  border-left: 5px solid #333333;
}
.services #row1 {
  grid-area: web;
}
.services #row2 {
  grid-area: hosting;
}
.services #row3 {
  grid-area: dizajn;
}
.services #row4 {
  grid-area: logo;
}
.services .container2 {
  margin-top: 5vh;
  display: grid;
  grid-template-areas: "web hosting" "dizajn logo";
}
.services .container2 #sidebar {
  position: relative;
  margin-top: 100px;
  padding: 20px 15px;
  width: 90%;
  height: 25vh;
  background-color: white;
  border-top: 20px solid rgba(61, 66, 69, 0.8);
  transition: 0.5s;
  border-radius: 2px;
  box-shadow: 10px 0px 15px -5px rgba(0, 0, 0, 0.15), -10px 0px 15px -5px rgba(0, 0, 0, 0.15);
}
.services .container2 #sidebar:hover {
  box-shadow: 10px 10px 10px rgb(156, 156, 156);
  border-color: #698491;
  transition: 0.3s ease;
}
.services .container2 #sidebar h2 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #3D3D3D;
  margin: 0 0 12px;
  padding: 0 0 10px;
  border-bottom: 1px solid #455A64;
}
.services .container2 #sidebar p {
  font: 0.9rem "Poppins", sans-serif;
  color: #3D3D3D;
  padding: 0;
}
.services .container2 .sidebar:first-child {
  border-color: #698491; /* TODO - NOT WORKING - CHECK #SIDEBAR */
}
.services #canvas {
  width: 90%; /* TODO */
  display: flex;
  justify-content: center;
  margin-left: auto;
}
.services #canvas .canvas-area {
  background-color: rgba(240, 240, 240, 0.6);
  width: 40vw; /* TODO */
  padding-bottom: 5vh;
  margin: auto;
  color: rgb(61, 66, 69);
  padding-left: 3vw; /* TODO */
  padding-right: 3vw; /* TODO */
  font-size: 1.2rem; /* FONT */
  font-weight: 100;
  box-shadow: 5px 5px 10px rgb(85, 85, 85);
}
.services #canvas .canvas-area .service-text {
  display: none;
  position: relative;
  padding-bottom: 5vh;
}
.services #canvas .canvas-area .service-text h4 {
  font-size: 1.5rem; /* FONT */
  margin: 2vh 0;
  padding: 2vh 0;
  border-bottom: 1px solid rgb(61, 66, 69);
  text-transform: uppercase;
  display: relative;
}
.services #canvas .canvas-area .service-text h4 img {
  display: absolute;
  transform: translateY(15%);
  width: 3vh;
}
.services #canvas .canvas-area .service-text p {
  font-size: 1.1rem;
  margin-bottom: 1vh;
}
.services #canvas .canvas-area .service-text .first {
  font-weight: bold;
}
.services #canvas .canvas-area .service-text:first-child {
  display: block;
}
.services #canvas .canvas-area .service-text a {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #698491;
  text-decoration: none;
  transition: 0.5s;
}
.services #canvas .canvas-area .service-text a:hover {
  color: rgb(61, 66, 69);
}

.projects-h3 {
  position: relative;
  height: 18vh;
  padding: 5vh 0 0 5vh;
}
.projects-h3 h3 {
  font-size: 2.8rem;
  padding-left: 4vh;
  border-left: 5px solid #333333;
}
.projects-h3 .btns-services {
  position: absolute;
  bottom: 0;
  left: 5%;
  padding-bottom: 1vh;
  border-bottom: 1px solid rgba(66, 57, 64, 0.5);
}
.projects-h3 .btns-services element {
  border: none;
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  line-height: 100%;
  cursor: pointer;
  padding: 0 1vh;
}
.projects-h3 .btns-services element.active1::before {
  width: 63%;
  left: 0;
}
.projects-h3 .btns-services element.active2::before {
  width: 40%;
  left: 63%;
}
.projects .projects-flex {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
}
.projects .projects-flex .flex-item {
  flex: 1;
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10vh;
  box-shadow: 5px 5px 10px rgba(85, 85, 85, 0.13);
  border: 1px solid rgba(128, 128, 128, 0.089);
}
.projects .projects-flex .flex-item img {
  flex: 2;
  width: 20vh;
}
.projects .projects-flex .flex-item-content {
  flex: 3;
  padding: 3vh 5vh;
  position: relative;
}
.projects .projects-flex .flex-item-content a {
  position: absolute;
  bottom: 13%;
  left: 5vh;
  text-decoration: none;
  color: #698491;
  font-weight: bold;
}
.projects .projects-flex .flex-item-content a:hover {
  color: #8a8a8a;
}
.projects .projects-flex .flex-item-content .languages {
  border-top: 1px solid rgba(61, 66, 69, 0.5);
  position: absolute;
  bottom: 1vh;
  text-align: right;
  width: 90%;
}
.projects .projects-flex .flex-item-content .languages p {
  display: inline;
  color: rgba(61, 66, 69, 0.5);
  font-size: 1.1rem;
}
.projects .projects-flex .flex-item p {
  font-size: 1.2rem;
  color: #333333;
}
.projects .projects-flex .flex-item h2 {
  margin-bottom: 1vh;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
}
.projects .projects-flex .flex-item h5 {
  font-size: 0.9rem;
  color: rgba(61, 66, 69, 0.5);
  text-transform: uppercase;
}
.projects .projects-flex #more-btn {
  cursor: pointer;
  width: 7%;
  height: 4%;
  padding: 8px 0;
  color: white;
  background-color: #333333;
  margin: 0 auto;
  border: none;
  border-radius: 3px;
  font-family: "Quicksand", sans-serif;
  font-size: 1.1rem;
  margin-bottom: 100px;
}
.projects #vizitka, .projects #logo {
  display: none;
}
.projects .grid-container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-gap: 100px;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}
.projects .grid-container .grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
  border: 1px solid rgba(61, 66, 69, 0.2);
  box-shadow: 5px 5px 10px rgba(85, 85, 85, 0.13);
  transition: 0.5s ease;
  border-radius: 3px;
}
.projects .grid-container .grid-item:hover {
  transition: 0.5s ease;
  box-shadow: 7px 7px 7px rgb(156, 156, 156);
  cursor: pointer;
}
.projects .grid-container .grid-item img {
  width: 100%;
}
.projects .grid-container .grid-item .fig {
  width: 100%;
  position: relative;
  line-height: 100%;
  text-align: center;
  background: rgba(228, 228, 228, 0.116);
}
.projects .grid-container .grid-item h3 {
  font-size: 1.2rem;
}
.projects .grid-container .grid-item span {
  font-size: 0.8rem;
  color: #698491;
  font-weight: bold;
}
.projects .service-overlay {
  display: none;
  position: fixed;
  padding: 0;
  margin: 0;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7137254902);
}
.projects .service-overlay-text {
  position: absolute;
  display: flex;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid rgba(61, 66, 69, 0.08);
  box-shadow: 5px 5px 10px rgba(85, 85, 85, 0.13);
}
.projects .service-overlay-text img {
  flex: 1;
  width: 50%;
}
.projects .service-overlay-text .overlay-inside-text {
  flex: 1;
  padding: 30px;
}
.projects .service-overlay-text .overlay-inside-text h3 {
  font-size: 2.4rem;
}
.projects .service-overlay-text .overlay-inside-text h4 {
  padding: 2px;
  font-size: 1.2rem;
  color: rgba(61, 66, 69, 0.5);
}
.projects .service-overlay-text .overlay-inside-text p.text {
  margin-top: 15%;
  width: 80%;
}
.projects .service-overlay-text .overlay-inside-text .colors {
  margin-top: 10%;
}
.projects .service-overlay-text .overlay-inside-text .colors h5 {
  font-size: 1rem;
  float: left;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
}
.projects .service-overlay-text .overlay-inside-text .colors p {
  display: inline;
}
.projects .service-overlay-text .overlay-inside-text .colors p.dblue::after {
  background-color: #253340;
}
.projects .service-overlay-text .overlay-inside-text .colors p.blue::after {
  background-color: #00A6E4;
}
.projects .service-overlay-text .overlay-inside-text .colors p.gray::after {
  background-color: #E1E1E1;
}
.projects .service-overlay-text .overlay-inside-text .colors p.white::after {
  background-color: #ffffff;
}
.projects .service-overlay-text .overlay-inside-text .colors p.ddblue::after {
  background-color: #1F232C;
}
.projects .service-overlay-text .overlay-inside-text .colors p.nblue::after {
  background-color: #34B5C8;
}
.projects .service-overlay-text .overlay-inside-text .colors p.pink::after {
  background-color: #DCBFFB;
}
.projects .service-overlay-text .overlay-inside-text .colors p.brown::after {
  background-color: #414143;
}
.projects .service-overlay-text .overlay-inside-text .colors img {
  padding: 0 100px 0 10px;
  height: 20px;
}
.projects .service-overlay-text .overlay-inside-text a {
  position: absolute;
  text-decoration: none;
  color: white;
  left: 75%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #333333;
  bottom: 20%;
  transition: 0.3s ease;
}
.projects .service-overlay-text .overlay-inside-text a:hover {
  transition: 0.3s ease;
  background-color: rgb(117, 117, 117);
}
.projects .service-overlay .back {
  position: absolute;
  right: 2%;
  top: 2%;
  cursor: pointer;
}

footer {
  background: rgba(50, 50, 50, 0.9);
  padding: 50px 0 0 0;
  color: white;
  font-family: "Poppins", sans-serif;
}
footer .flex-footer {
  display: flex;
  width: 90%;
  margin: 0 auto;
}
footer .flex-footer h2, footer .flex-footer h3 {
  color: #698491;
  font-size: 1.3rem;
  padding-bottom: 10px;
}
footer .flex-footer p {
  font-size: 0.8rem;
}
footer .flex-footer-item {
  flex: 1;
}
footer .flex-footer a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 6px 0;
  transition: 0;
  transition: 0.2s;
}
footer .flex-footer a:hover {
  color: rgba(105, 132, 145, 0.2509803922);
}
footer .flex-footer .first-flex {
  display: flex;
  flex-direction: column;
}
footer .flex-footer .first-flex .first-in-flex {
  padding: 20px 0;
}
footer .flex-footer .first-flex .first-in-flex ul {
  padding: 0;
}
footer .flex-footer .first-flex .first-in-flex ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 3px 0;
}
footer .flex-footer .first-flex .first-in-flex ul li a {
  display: inline;
  font-size: 0.9rem;
  padding-left: 20px;
  cursor: pointer;
}
footer .flex-footer .first-flex .first-in-flex ul li img {
  height: 20px;
}
footer .flex-footer .fourth-flex #subscribe:focus {
  outline: none;
}
footer .flex-footer .fourth-flex .input {
  height: 40px;
  background-color: white;
  border-radius: 7px;
  padding: 0 10px;
  width: 70%;
  display: flex;
  align-items: center;
}
footer .flex-footer .fourth-flex .input:focus {
  outline: none;
}
footer .flex-footer .fourth-flex img {
  height: 20px;
}
footer .flex-footer .fourth-flex input {
  outline: none;
  border: none;
  height: 40px;
  padding-left: 10px;
  font-family: "Poppins", sans-serif;
}
footer .flex-footer .fourth-flex .button {
  border: none;
  border-radius: 7px;
  padding: 7px 20px;
  color: white;
  background: #698491;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
  transition: 0.3s;
  width: 70%;
  cursor: pointer;
}
footer .flex-footer .fourth-flex .button:hover {
  background-color: #8db2c4;
}
footer .footer-bottom {
  width: 100%;
  text-align: center;
  border-top: 1px solid rgba(105, 132, 145, 0.2509803922);
  margin: auto 0;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  position: relative;
}
footer .footer-bottom img {
  height: 30px;
  margin: 0 8px;
  transition: 0.3s;
  cursor: pointer;
}
footer .footer-bottom img:hover {
  opacity: 0.3;
  transition: 0.3s ease;
}
footer .footer-bottom span {
  position: absolute;
  right: 1%;
  bottom: 50%;
  transform: translateY(50%);
  font-size: 0.8em;
}

.contact {
  display: flex;
  padding: 200px 250px;
  border-top: 1px solid rgba(61, 66, 69, 0.3);
  font-family: "Quicksand", sans-serif;
}
.contact-flex-item {
  flex: 3;
}
.contact-flex-item:first-child {
  flex: 2;
}
.contact-flex-item img {
  width: 100%;
}
.contact-flex-item form {
  padding: 50px 0;
}
.contact-flex-item form input {
  display: block;
  margin: 15px 0;
  height: 40px;
  width: 80%;
  border: none;
  border-bottom: 1px solid rgba(61, 66, 69, 0.5);
  outline: none;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
}
.contact-flex-item form select {
  height: 40px;
  width: 80%;
  border: none;
  border-bottom: 1px solid rgba(61, 66, 69, 0.5);
  outline: none;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
}
.contact-flex-item form select option:hover {
  box-shadow: 0 0 10px 100px #18a837 inset;
}
.contact-flex-item form select option p {
  opacity: 0.2;
}
.contact-flex-item form .button {
  padding: 6px 25px;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 3px;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
}
.contact-flex-item form .button:hover {
  transition: 0.3s ease;
  background-color: rgb(104, 104, 104);
}
.contact-flex-item h2 {
  font-size: 2.5rem;
  font-weight: bold;
}
.contact-flex-item h4 {
  opacity: 0.5;
}

.containter {
  width: 100%;
  height: 100%;
}
.containter h2 {
  text-align: center;
  font-size: 2rem;
  padding-top: 20px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}
.containter .content {
  border: 1px solid rgba(151, 151, 151, 0.219);
  display: flex;
  height: 85%;
  width: 50%;
  margin: auto;
  margin-top: 1%;
  background-color: rgba(192, 192, 192, 0.219);
}
.containter .content aside {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.containter .content aside .price {
  flex: 2;
  font-family: "Quicksand", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-image: linear-gradient(to bottom, #1DBCA5, #1AA5BC);
}
.containter .content aside .price h4 {
  font-size: 1.7rem;
  font-weight: 200;
}
.containter .content aside .price h3 {
  font-size: 1.9rem;
  padding: 15px 0 30px 0;
}
.containter .content aside .price h5 {
  font-weight: 200;
  margin-top: 10px;
  font-size: 1.1rem;
}
.containter .content aside .price #send {
  text-decoration: none;
  text-align: center;
  color: black;
  margin-top: 50px;
  width: 60%;
  padding: 10px 0;
  font-size: 1.2em;
  background-color: rgba(255, 255, 255, 0.9);
  font-family: "Quicksand", sans-serif;
  border-radius: 4px;
  border: none;
}
.containter .content aside .price #send:hover {
  transition: 0.5s ease;
  background-color: rgb(255, 255, 255);
}
.containter .content aside .price a.back {
  margin-top: 30px;
  color: #333333;
}
.containter .content aside .price a.back:hover {
  color: #575757;
}
.containter .content aside .description {
  flex: 1;
  padding: 20px;
  text-align: center;
  font-size: 0.9rem;
}
.containter .content aside .description p {
  opacity: 0.7;
}
.containter .content .main-section {
  border-right: 1px solid rgba(151, 151, 151, 0.219);
  flex: 2;
}
.containter .content .main-section .section {
  padding: 20px;
}
.containter .content .main-section .section h3 {
  font-weight: bold;
  font-size: 1.8rem;
}
.containter .content .main-section .section .input {
  padding-top: 20px;
  width: 100%;
  margin: auto;
  position: relative;
}
.containter .content .main-section .section .input input {
  width: 80%;
  height: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(51, 51, 51, 0.5058823529);
  outline: none;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
}
.containter .content .main-section .section .input input:focus {
  border-color: #3599DC;
}
.containter .content .main-section .section .choices {
  display: flex;
  width: 80%;
  margin: auto;
}
.containter .content .main-section .section .choices label {
  text-align: center;
  padding: 35px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.containter .content .main-section .section .choices .radio {
  margin-top: 40px;
  flex: 1;
  height: 100px;
}
.containter .content .main-section .section .slidecontainer {
  width: 90%;
  margin: auto;
  margin-top: 40px;
}
.containter .content .main-section .section .slidecontainer p {
  padding-top: 20px;
}
.containter .content .main-section .section .slidecontainer .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}
.containter .content .main-section .section .slidecontainer .slider:hover {
  opacity: 1;
}
.containter .content .main-section .section .slidecontainer .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #3599DC;
  cursor: pointer;
}
.containter .content .main-section .section .radios input[type=radio] {
  display: none;
}
.containter .content .main-section .section .radios input[type=radio]:checked + .radio {
  background-color: #E6F5F8;
  border: 3px solid #3599DC;
}
.containter .content .main-section .section .radios .radio {
  border: 1px solid rgba(51, 51, 51, 0.2549019608);
  box-sizing: border-box;
  display: inline-block;
  width: 10px;
  height: 100px;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body .landscape {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.id-links {
  height: 5vh;
}

::-moz-selection {
  background: #333333;
  color: white;
}

::selection {
  background: #333333;
  color: white;
}

h3 {
  font-family: "Quicksand", sans-serif;
}

.button {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */